.idea/
obj/
bin/
truststore.*
keystore.*
*.crt
.localstack
.sonarqube
coverage.*
*.user
*.sln.DotSettings.user
.vs/price-service/xs/UserPrefs.xml
.vs/price-service/xs/project-cache/TestUtility-Debug.json
.vs/price-service/xs/project-cache/SharedTests-Debug.json
.vs/price-service/xs/project-cache/Shared-Debug.json
.vs/price-service/xs/project-cache/SchedulerTests-Debug.json
.vs/price-service/xs/project-cache/Producer-Debug.json
.vs/price-service/xs/project-cache/PriceScheduler-Debug.json
.vs/price-service/xs/project-cache/PriceApi-Debug.json
.vs/price-service/xs/project-cache/PriceAdmin-Debug.json
.vs/price-service/xs/project-cache/MongoMigrations-Debug.json
.vs/price-service/xs/project-cache/IntegrationTests-Debug.json
.vs/price-service/xs/project-cache/GrpcClient-Debug.json
.vs/price-service/xs/project-cache/Consumer-Debug.json
.vs/price-service/xs/project-cache/ApiTests-Debug.json
.vs/price-service/xs/project-cache/AdminTests-Debug.json
.DS_Store
